@import "~style/variables.styl"

$page-height = "calc(100vh - %s)" % ($tabbar-height)

.favorites-list
  height $page-height
  padding 1rem
  overflow-y auto

.no-favorites
  height 80%
  display flex
  flex-direction column
  justify-content center
  align-items center
  color $color-disabled

  .icon
    margin-bottom 1rem
    font-size 3rem

  p
    font-size $font-size-normal