@import "~style/variables.styl"

.wechat-card
  margin-bottom 1rem
  padding-bottom 1rem
  display flex
  align-items center
  position relative

  img
    width 3rem
    height 3rem
    border-radius 1.5rem

.wechat-card-text
  margin-left 1rem
  font-size $font-size-medium

  strong
    color $color-black

  p
    color $color-grey
    margin-top 0.5rem

.wechat-card-action
  position absolute
  right 0
  top 0