@import "~style/variables.styl"

$tabs-height = 2.5rem
$page-padding = 1rem
$page-height = "calc(100vh - %s)" % ($tabbar-height)
$page-height-authenticated = "calc(100vh - %s - %s)" % ($tabs-height $tabbar-height)

.subscription-list, .category-list
  padding $page-padding
  height $page-height
  overflow-y scroll

  .authenticated &
    height $page-height-authenticated

.subscription-list .time
  margin-bottom 0.5rem

.subscription-tabs
  display flex
  position relative
  height $tabs-height
  background white

  .icon
    font-size $font-size-large

    &.ion-ios-add
      font-size $font-size-xlarge

.subscription-tabs-item
  display flex
  flex 1
  align-items center
  justify-content center
  color $color-disabled

  &.active
    color $color-primary-dark

.subscription-tabs-bottom-line
  position absolute
  display inline-block
  bottom 0
  left 0
  height 2px
  width 14%
  background $color-primary-dark
  z-index 2
  transition transform .5s
  will-change transform

  &.bottom-line-left
    transform translateX(18vw)

  &.bottom-line-right
    transform translateX(68vw)

.category
  display inline-block
  width calc(50% - 0.5rem)

  strong
    padding-left 0.25rem
    font-size $font-size-medium

  .cover
    background-size cover
    background-position center
    background-repeat no-repeat
    background-color $color-placeholder-bg
    margin-top 0.3rem
    margin-bottom 1rem
    height 5rem
    padding 0.8rem
    border-radius $border-radius
    box-shadow 0 2px 6px rgba(0,0,0,0.25)

  &:nth-child(odd)
    margin-right 1rem

.recommend-wechat-list
  background white
  padding $page-padding
  height $page-height
  overflow scroll
  -webkit-overflow-scrolling touch

  .authenticated &
    height $page-height-authenticated

  // .wechat-card
    // border-bottom 1px solid $color-grey