@import "~style/variables.styl"

.empty
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  color $color-disabled

  .icon
    margin-bottom 1rem
    font-size 3rem

  p
    font-size $font-size-normal