@import "~style/variables.styl"

.featured-list
  height "calc(100vh - %s)" % ($tabbar-height)
  overflow-y auto

  .time
    margin-top 1rem
    margin-bottom -0.5rem

    &.first
      margin-top 0.5rem