// color
$color-primary = #a7c9d3
$color-primary-dark = darken($color-primary, 35%)
$color-black = #333
$color-grey = #a0a0a0
$color-disabled = #ccc
$color-placeholder-bg = #eee

// font-size
$font-size-small = 0.7rem
$font-size-medium = 0.875rem
$font-size-normal = 1rem
$font-size-large = 1.2rem
$font-size-xlarge = 1.4rem

// layouts
$border-radius = 5px
$tabbar-height = 3.2rem

// styles
$shadow = 0 2px 4px rgba(153,153,153,.1) // 0 5px 13px 0 rgba(46,50,88,.06)